nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #EA4C89;
}   
  
nav a {
    font-weight: bold;
    list-style: none;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

}

body {
    font-family:"Lato", sans-serif;
    background-color: lightgrey;
}

body a {
    font-weight: bold;
    list-style: none;
    text-decoration: none;
    color:black;
}

body h2 {
    text-decoration: underline;
    font-size: 16px;
    text-align: center;
}

button {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 10px;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:disabled {
    color: grey;
    background-color: white;
}

/* form */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 2;
    margin: 1em;
}
  
  input,select {
    padding: 0.3em;
    margin: 0.5em 0;
    font-size: 1em;
}

#campuses {
    display: flex;
}

#campusform {
    margin-top: 20px;
    margin-left: 300px;
}

#studentinfo {
    display: flex;
}

#studentform {
    margin-top: 20px;
    margin-left: 830px;
}

#homepage {
    text-align: center  ;
}